<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Newsletter</title>
  </head>
  <body>
    <h1>Cadastre-se na Newsletter</h1>
    <form action="/register" method="POST">
      <label for="username">Nome de usuário:</label>
      <input type="text" name="username" id="username" />
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
